// Заголовки, общие БЄМ блоки и проче...
.page {
    // .page__main
    &__main {
    }
    // .page__services
    &__services {
    }
    // .page__portfolios
    &__portfolios {
    }
    // .page__career
    &__career {
    }
	// .page__blog
	&__blog {
	}
    // .page__testimonials
    &__testimonials {
    }
    // .page__skills
    &__skills {
    }
    // .page__contacts
    &__contacts {
    }
}
//========================================================================================================================================================
.title {
    // .title__lable
    &__lable {
        font-weight: 500;
        font-size: rem(12);
        line-height: math.div(24 , 12);
        letter-spacing: em(7.5,12);
        text-transform: uppercase; 
        color: $greyColor;
        display: flex;
        align-items: center;
        gap: rem(16);
        &::before{
            content:'';
            width: rem(16);
            height: rem(2);
            background-color: #D9D9D9;
        }
        &:not(:last-child) {
            margin-bottom: em(8, 12);
        }
    }
    // .title__value
    &__value {
        font-family: 'Plus Jakarta Sans';
        font-style: normal;
        font-weight: 700;
        @include adaptiveValue("font-size", 36, 28);
        line-height: math.div(45 , 36);
        span {
            color: $violetColor;
        }
        // .title__value_big
        &_big {
            @include adaptiveValue("font-size", 44, 36);
            line-height: math.div(55 , 44);
        }
    }
}
//========================================================================================================================================================
.text {
    line-height: math.div(32 , 16);
    p {
        &:not(:last-child) {margin-bottom: rem(15);}
    }
}
//========================================================================================================================================================
.social {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: rem(5);
    @include adaptiveValue("column-gap", 34, 25);
    // .social__link
    &__link {
        font-size: rem(22);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $violetColor;
            }
        }
    }
}
//========================================================================================================================================================
.category-link {
    display: inline-block;
    border: 1px solid #F1F1F1;
    border-radius: rem(4);
    color: $greyColor;
    font-weight: 500;
    font-size: rem(12);
    padding: rem(4) rem(8);
    line-height: math.div(15 , 12);
    transition: all 0.3s ease 0s;
    @media (any-hover: hover){
        &:hover{
            color: #ffffff;
            background-color: $violetColor;
            border: 1px solid $violetColor;
        }
    }
}
//========================================================================================================================================================
.date {
    display: inline-block;
    background-color: #FBFBFB;
    border-radius: rem(4);
    padding: rem(4) rem(8);
    color: $greyColor;
    font-size: rem(12);
    line-height: math.div(15 , 12);
}