//====================================================================================================
.main-section {
    // .main-section__container
    &__container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2,1fr);
        min-height: 100%;
        padding-top: rem(80);
        padding-bottom: rem(30);
        column-gap: rem(20);
        @media (max-width:$mobile){
            grid-template-columns: auto;
            row-gap: rem(30);
        }
    }
    // .main-section__content
    &__content {
    }
    // .main-section__title
    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 16);
        }
    }
    // .main-section__text
    &__text {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 20);
        }
    }
    // .main-section__social
    &__social {
    }
	// .main-section__decor
	&__decor {
	}
    // .main-section__image
    &__image {
    }
}
.decor-main-section {
    max-width: rem(336);
    margin: 0 rem(22);
    justify-self: center;
    @media (min-width:$mobile){
        width: 100%;
        justify-self: end;
    }
    @media (max-width:$mobile){
        max-width: none;
        @include adaptiveValue("width", 336, 246);
    }
	// .decor-main-section__box
	&__box {
        position: relative;
        padding-bottom: percent(400,336);
        &::after,
        &::before {
            content:'';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: rem(16);
        }
        &::before{
            z-index: 1;
            background-color: $violetColor;
            transform: rotate(-9.55deg);
        }
        &::after{
            z-index: 2;
            background: $violetLightColor url('@img/main/lines.svg') top right / 58% no-repeat;
        }
	}
    // .decor-main-section__image
    &__image {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: rem(16);
        overflow: hidden;
    }
    // .decor-main-section__picture
    &__picture {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 100%;
        z-index: 3;
    }
}
//====================================================================================================
.services {
    background-color: #FBFBFB;
    // .services__container

    &__container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: rem(80);
        padding-bottom: rem(30);
    }

    // .services__title

    &__title {
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 100, 30);
        }
    }

    // .services__items

    &__items {
        width: 100%;
        display: grid;
        @include adaptiveValue("gap", 56, 20);
        grid-template-columns: repeat(auto-fill, minmax(rem(280),1fr));
    }

    // .services__item

    &__item {
    }
}
.item-service {
    border-radius: rem(8);
    background-color: #fff;
    @include adaptiveValue("padding", 50, 15);
    display: grid;
    justify-items: center;
    text-align: center;
    // .item-service__icon
    &__icon {
        width: rem(56);
        height: rem(56);
        display: flex;
        justify-content: center;
        align-items: center;
        background: #F5F3FE;
        border-radius: rem(16);
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }
    // .item-service__title
    &__title {
        font-weight: 500;
        line-height: math.div(20 , 16);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
    // .item-service__text
    &__text {
        font-size: rem(14);
        line-height: math.div(24 , 14);
    }
}
//========================================================================================================================================================
.portfolios {
    // .portfolios__container
    &__container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: rem(80);
        padding-bottom: rem(30);
    }
    // .portfolios__header
    &__header {
        display: flex;
        gap: rem(20);
        align-items: center;
        justify-content: space-between;
        @include adaptiveValue("margin-bottom", 144, 30);
        @media (max-width: em(600)){
            flex-direction: column;
            align-items: flex-start;
        }
    }
    // .portfolios__title
    &__title {
    }
    // .portfolios__controls
    &__controls {
        display: flex;
        align-items: center;
        gap: rem(16);
    }
    // .portfolios__arrow
    &__arrow {
        width: rem(40);
        height: rem(40);
        background-color: #EAE6FE;
        border-radius: rem(16);
        color: #7E74F1;
        font-size: rem(12);
        transition: background-color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                background-color: #c1b5ff;
            }
        }
        &.swiper-button-disabled {
            opacity: 0.5;
            cursor: default;
            background-color: #EAE6FE;
            color: #7E74F1;
        }
        // .portfolios__arrow_left
        &_left {
            transform: rotate(-180deg);
        }
        // .portfolios__arrow_right
        &_right {
        }
    }
    // .portfolios__slider
    &__slider {
        @media (max-width: em(600)){
            margin-right: rem(-15);
            padding-right: rem(15);
        }
    }
    // .portfolios__wrapper
    &__wrapper {
    }
    // .portfolios__slide
    &__slide {
    }
}
.item-portfolio {
    border: 1px solid #F5F5F5;
    border-radius: rem(8);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    // .item-portfolio__image-ibg
    &__image-ibg {
        overflow: hidden;
        opacity: 0.5;
        transition: opacity 0.6s ease 0s;
        padding-bottom: percent(295,361);
        img {
            object-position: top;
            transition: transform 0.6s ease 0s;
        }
        @media (any-hover: hover){
            &:hover{
                opacity: 1;
                img {
                    transform: scale(1.05);
                }
            }
        }
        @media (any-hover: none){
            opacity: 1;
        }
    }
    // .item-portfolio__body
    &__body {
        padding: rem(24);
        display: flex;
        flex-direction: column;
        gap: rem(16);
        flex: 1 1 auto;
    }
    // .item-portfolio__title
    &__title {
        flex: 1 1 100%;
    }
    // .item-portfolio__link-title
    &__link-title {
        line-height: math.div(20 , 16);
        font-weight: 500;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $violetColor;
            }
        }
    }
	// .item-portfolio__footer
	&__footer {
        display: flex;
        align-items: center;
        gap: rem(16);
	}
    // .item-portfolio__category
    &__category {
    }
    // .item-portfolio__link
    &__link {
        font-size: rem(9.5);
        color: $greyColor;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $violetColor;
            }
        }
    }
}
//========================================================================================================================================================

.career {
    background-color: #fbfbfb;
    // .career__container
    &__container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: rem(80);
        padding-bottom: rem(30);
    }
	// .career__body
	&__body {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        @include adaptiveValue("column-gap", 144, 20);
        @include adaptiveValue(" row-gap", 80, 20);
        @media (min-width:$mobile){
            grid-template-columns: auto 1fr;
            grid-template-rows: auto 1fr;
            align-content: center;
            align-items: start;
            grid-auto-flow: column;
        }
	}
    // .career__title
    &__title {
    }
    // .career__navigation
    &__navigation {
        ._tab-spoller & {
            display: none;
        }
    }
    // .career__content
    &__content {

        @media (min-width:$mobile){
        @include adaptiveValue("padding-top", 32, 15);
        grid-row: span 2;
        }
    }
}
.navigation-career {

    // .navigation-career__title
    &__title {
        width: 100%;
        padding: rem(14) rem(24);
        line-height: math.div(19 , 16);
        text-align: left;
        transition: all 0.3s ease 0s;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
        &::after{
            @extend %ic;
            content:'\e900';
            font-size: rem(12);
            display: none;
        }
        ._tab-spoller & {
            border: 1px solid rgba(101, 109, 114, 0.1);
            &::after{
                display: block;
                transform: rotate(90deg);
            }

        }
        &._tab-active {
            background-color: #fff;
            color: $violetColor;
            &::after{
                display: block;
                ._tab-spoller & {
                    transform: rotate(-90deg);
                }
            } 
            
        }
    }
}
.content-career {
    // .content-career__body
    &__body {
        ._tab-spoller & {
            padding: rem(15) rem(0) rem(15) rem(0);
        }
    }
    // .content-career__header
    &__header {
        border-bottom: 1px solid #F1F1F1;
        @include adaptiveValue("padding-bottom", 32, 20);
    }
    // .content-career__title
    &__title {
        font-weight: 500;
        font-size: rem(18);
        line-height: math.div(23 , 18);
        &:not(:last-child) {
            margin-bottom: rem(8);
        }
    }
    // .content-career__link-title
    &__link-title {
        text-decoration: underline;
        @media (any-hover: hover){
            &:hover{
                text-decoration: none;
            }
        }
    }
    // .content-career__location
    &__location {
        color: $greyColor;
        font-size: rem(14);
        line-height: math.div(17 , 14);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
    // .content-career__time
    &__time {
        color: $greyColor;
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div(24 , 14);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
    // .content-career__categories
    &__categories {
        display: flex;
        gap: rem(16);
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }
    // .content-career__main
    &__main {
        @include adaptiveValue("padding-top", 32, 20);
    }
    // .content-career__list
    &__list {
    }
}
.list-content-career {
    // .list-content-career__item
    &__item {
        color: $greyColor;
        line-height: math.div(19 , 16);
        position: relative;
        padding-left: rem(28);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
        &::before{
            content:'';
            background-color: #D9D9D9;
            width: rem(10);
            height: rem(2);
            position: absolute;
            left: 0;
            top: em(9,16);
        }
    }
}
//========================================================================================================================================================
.blog {
    // .blog__container
    &__container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: rem(80);
        padding-bottom: rem(30);
    }
    // .blog__title

    &__title {
        @include adaptiveValue("margin-bottom", 144, 30);
    }

    // .blog__items

    &__items {
        align-self: stretch;
        display: grid;
        @include adaptiveValue("gap", 40, 20);
        grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
    }
    // .blog__item
    &__item {
    }
}
.item-blog {
    min-height: 100%;
    display: flex;
    border-radius: rem(8);
    overflow: hidden;
    border: 1px solid #F1F1F1;
    flex-direction: column;
    // .item-blog__image-ibg
    &__image-ibg {
        overflow: hidden;
        padding-bottom: percent(243,361);
        img {
            transition: transform 0.6s ease 0s;
        }
        @media (any-hover: hover){
            &:hover{
                img {
                    transform: scale(1.05);
                }
            }
        }
    }
    // .item-blog__body
    &__body {
        padding: rem(16) rem(16) rem(24) rem(16);
        display: grid;
        gap: rem(16);
    }
    // .item-blog__title
    &__title {
    }
    // .item-blog__link-title
    &__link-title {
        font-weight: 500;
        line-height: math.div(24 , 16);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $violetColor;
            }
        }
    }
    // .item-blog__date
    &__date {
        justify-self: start;
    }
    // .item-blog__text
    &__text {
        color: $greyColor;
    }
    // .item-blog__link
    &__link {
        color: $greyColor;
        margin-top: rem(24);
        justify-self: center;
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div(17 , 14);
        transition: color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $violetColor;
            }
        }
    }
}
//========================================================================================================================================================
.testimonials {
    background: #FBFBFB;
    // .testimonials__container
    &__container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: rem(80);
        padding-bottom: rem(30);
    }
    // .testimonials__title
    &__title {
        @include adaptiveValue("margin-bottom", 132, 80);
    }
    // .testimonials__items
    &__items {
        display: grid;
        @include adaptiveValue("column-gap", 40, 20);
        row-gap: rem(80);
        grid-template-columns: repeat(auto-fill, minmax(rem(280), 1fr));
    }
    // .testimonials__item
    &__item {
    }
}
.item-testimonials {
    background-color: #fff;
    border-radius: rem(8);
    display: flex;
    flex-direction: column;
    padding-bottom: rem(24);
    @include adaptiveValue("padding-left", 38, 10);
    @include adaptiveValue("padding-right", 38, 10);
    // .item-testimonials__avatar
    &__avatar-ibg {
        align-self: center;
        border-radius: 50%;
        overflow: hidden;
        height: rem(96);
        width: rem(96);
        // transform: translate(0px,-50%);
        margin-top: rem(-48);
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }

    // .item-testimonials__text

    &__text {
        flex: 1 1 auto;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom",48 , 20);
        }
    }

    // .item-testimonials__name

    &__name {
        font-size: rem(14);
        font-weight: 500;
        line-height: math.div(18 , 14);
        &:not(:last-child) {
            margin-bottom: rem(9);
        }
    }

    // .item-testimonials__profession

    &__profession {
        align-self: flex-start;
    }
}
//========================================================================================================================================================
.skills {
    // .skills__container
    &__container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: rem(80);
        padding-bottom: rem(30);
    }
    // .skills__title
    &__title {
        @include adaptiveValue("margin-bottom", 112, 30);
    }
    // .skills__body
    &__body {
        display: grid;
        gap: rem(40);
        @media (min-width: em(850) ){
            grid-template-columns: 1fr percent(658,1200);
        }
    }
    // .skills__timeline
    &__timeline {
    }
    // .skills__content
    &__content {
    }
}
.timeline {
    display: grid;
    @include adaptiveValue("gap", 64, 40);
    position: relative;
    &::before{
        content:'';
        position: absolute;
        width: 1px;
        height: 100%;
        top: em(2.5,16);
        left: rem(12);
        background-color: #F1F1F1;
        z-index: 2;
    }
    // .timeline__item
    &__item {
        padding-left: rem(40);
        position: relative;
        &::before{
            content:'';
            z-index: 3;
            position: absolute;
            width: rem(16);
            height: rem(16);
            top: em(2.5,16);
            left: rem(4);
            border-radius: 50%;
            background-color: #F1F1F1;
        }
        &:last-child{
            &::after{
                content:'';
                z-index: 2;
                position: absolute;
                width: 1px;
                height: 100%;
                bottom: em(-2.5,16);
                left: rem(12);
                background-color: #ffffff;
            }
        }
    }
    // .timeline__title
    &__title {
        font-weight: 500;
        line-height: math.div(20 , 16);
        &:not(:last-child) {
            margin-bottom: rem(10);
        }
    }
    // .timeline__text
    &__text {
        font-size: rem(14);
        line-height: math.div(17 , 14);
        color: $greyColor;
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }
    // .timeline__date
    &__date {
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div(17 , 14);
    }
}
.content-skills {
    // .content-skills__text
    &__text {
        color: $greyColor;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 64, 20);
        }
    }
    // .content-skills__items
    &__items {
        display: grid;
        @include adaptiveValue("gap", 40, 20);
    }
    // .content-skills__item
    &__item {
    }
    // .content-skills__label
    &__label {
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div(17 , 14);
        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }
    // .content-skills__line
    &__line {
        background: #F5F3FE;
        border-radius: rem(2);
        height: rem(8);
        position: relative;
        overflow: hidden;
        span {
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            border-radius: rem(2);
            background-color: $violetColor;
        }
    }
}
//========================================================================================================================================================
.contacts {
    flex: 1 1 auto;
    background: #FBFBFB;
    // .contacts__container
    &__container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: rem(80);
        padding-bottom: rem(30);
    }
	// .contacts__content
	&__content {
        display: flex;
        align-items: center;
        @media (max-width: em(850)){
            flex-direction: column-reverse;
            row-gap: rem(20);
        }
	}
    // .contacts__form
    &__form {
        flex: 0 1 50%;
        @media (max-width:em(850)){
            flex: 0 0 auto;
            width: 100%;
        }
    }
    // .contacts__body
    &__body {
        flex: 0 1 50%;
        @include adaptiveValue("padding-left",104 , 20);
        @media (max-width:em(850)){
            flex: 0 0 auto;
            width: 100%;
            padding-left: rem(0);
        }
    }
    // .contacts__list
    &__list {
        
    }
}
.form {
    display: grid;
    gap: rem(16);
    // .form__item
    &__item {
        &:last-child{
            padding-top: rem(32);
        }
    }
    // .form__input
    &__input {
        height: rem(48);
        width: 100%;
        border-radius: rem(8);
        padding: rem(0) rem(24);
        background-color: #fff;
        &::placeholder {
            color: $greyColor;
        }
        &:focus {
            &::placeholder {
                color: $mainColor;
            }
        }
    }
	// .form__button
	&__button {
        width: 100%;
        background-color: $violetColor;
        padding:rem(16);
        color: #fff;
        border-radius: rem(8);
        transition: background-color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                background-color:  #665dca;
            }
        }
	}
    &__error {
        font-size: rem(12);
        color: red;
        padding: rem(6) rem(24) rem(0) rem(24);
    }
}
textarea.form__input {
    height: rem(190);
    resize: vertical;
    padding:rem(24);
}
.list-contacts {
    display: grid;
    @include adaptiveValue("gap", 48, 20);
    // .list-contacts__item
    &__item {
        display: flex;
        align-items: center;
        gap: rem(24);
    }
    // .list-contacts__icon
    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 0 0 rem(56);
        height: rem(56);
        background: #F5F3FE;
        border-radius: rem(16);
    }
    // .list-contacts__body
    &__body {
    }
    // .list-contacts__title
    &__title {
        font-weight: 500;
        line-height: math.div(17 , 16);
        &:not(:last-child) {
            margin-bottom: rem(4);
        }
    }
    // .list-contacts__text
    &__text {
        font-size: rem(14);
        line-height: math.div(24 , 14);
        color: $greyColor;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover){
            &:hover{
                color: $violetColor;
            }
        }
    }
}
